body{
    font-family: 'Inter';
    margin:0.33%;
    background: linear-gradient(to bottom, white, #c0ff3e);
}

ul {
    display: flex;
    list-style-type: none;
    margin: 20px;
    padding: 5px;
    overflow: hidden;
    
  }

  
  li a {
    float: left;
    font-size:larger;
    margin: 10px 10px;
    padding: 10px 20px;
    color: black;
    border: 2px solid black;
    border-radius: 30px;
    text-decoration: none;
  }
  
.logo{
    display: flex;
    float: right;
}


#navbar{
    display: block;
}

table{
    width:100%;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: medium;
    color: black;
}

tr a{
    text-decoration: underline;
    color: black;
}

#table ul{
    width:100%;
    padding: 20px;
    margin: 20px;
    float: left;
    display: block;
    text-align: left;
}
.bottom-half {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-small;
    color: rgba(255, 255, 255, 0.5);
    padding: 50px;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

h2 {
    padding-left: 120px;
}

img {
    margin-left: 40px;
    padding-top: 80px;
    max-width: 600px;
}

#border{
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

#bnext{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    padding-right: 320px;
    color: white;
    text-align: right;
}

#policy{
    margin-left: 270px;
}

#policy p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-small;
    display: inline-block;
    margin-right: 20px;
    border-bottom: 1px solid white; 
    padding-bottom: 5px; 
    color: white; 
}

#spons p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-small;
    margin-left: 270px;
    margin-right: 20px; 
    padding-bottom: 5px; 
    color: rgba(255, 255, 255, 0.5); 
}